name: Validate Renovate templates

on:
  push:


jobs:
  find-templates:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{steps.set.outputs.matrix }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Find renovate templates
        id: set
        run: |
          files=$(find ./ -type f -name '*.json*' ! -name 'url-overrides.json5' -exec basename {} \; | jq -R -s -c 'split("\n")[:-1]')
          echo "Identified template files:"
          echo $files
          echo "matrix=$files" >>"$GITHUB_OUTPUT"

  validate-renovate-templates:
    runs-on: ubuntu-latest
    needs: [find-templates]
    strategy:
      matrix:
        template: "${{ fromJson(needs.find-templates.outputs.matrix) }}"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@ca480cb7ec89a9e1cd8c214ad33bda1617184027 # v2.0.0
        with:
          config_file_path: "${{ matrix.template }}"
          strict: false
          # renovate: datasource=npm depName=renovate
          validator_version: 43.4.0
