name: Validate Renovate templates

on:
  push:


jobs:
  find-templates:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{steps.set.outputs.matrix }}
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Find renovate templates
        id: set
        run: |
          files=$(find ./ -type f -name '*.json*' ! -name 'url-overrides.json5' -exec basename {} \; | jq -R -s -c 'split("\n")[:-1]')
          echo "Identified template files:"
          echo $files
          echo "matrix=$files" >>"$GITHUB_OUTPUT"

  validate-renovate-templates:
    runs-on: ubuntu-latest
    needs: [find-templates]
    strategy:
      matrix:
        template: "${{ fromJson(needs.find-templates.outputs.matrix) }}"
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@c22827f47f4f4a5364bdba19e1fe36907ef1318e # v1.1.1
        with:
          config_file_path: "${{ matrix.template }}"
          strict: false
          # renovate: datasource=npm depName=renovate
          validator_version: 42.37.1
